/* image */
.shoeBox{
    background-image: url(../img/pic.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 235px;
    /* margin-left: 90px; */
}
button.wsf-button.wsf-button-primary {
    background-color: red;
    /* border-color: #205493; */
    color: #FFFFFF;
    font-size: 23px;
    font-weight: bold;
    border: none;
}
button.wsf-button.wsf-button-primary:hover {
    color: red;
    /* border-color: #205493; */
    background-color: #FFFFFF;
    border: 2px solid red;
}

.cont{
    background-color: #c11e1c;
    line-height: 26px;
}

.cont h1{
    font-size: 40px;
    padding-left: 10px;

}
.cont h2{
    font-size: 30px;
    padding-left: 10px;

}

.wp-block-quote.is-style-contact-quote {
    background-color: #c11e1c;
    color: white;
    font-family: futura;
    font-size: 2em;
    padding: 5px;
}

.ad{
    background-color: #0ba987;
    color: #fff;
}

.ad h1{
    font-size: 50px;
    padding: 10px;
}


#wsf-1-fields-8 {
    display:flex;
    justify-content: center;
}




@media print, screen and (min-width: 40em){
.grid-x>.large-6 {
    width: 40%;
}
/* red bar */
.wp-block-quote.is-style-contact-quote {
    background-color: #c11e1c;
    color: white;
    font-family: futura;
    font-size: 2em;
    padding: 5px;
}

}