.wp-block-quote.is-style-fancy-quote {
    color:red;
}

.wp-block-image.is-style-feature-banner-image img{
    max-width: 100%;
    width: 100%;
}

.wp-block-button.is-style-shop-now-button .wp-block-button__link{
    border-radius: 0;
    /* background-color: black; */
}

.is-style-banner-hashtag {
    font-size: 3vw;
}
.is-style-banner-heading {
    color: black;
    font-size: 3vw;
}

.wp-block-group.is-style-feature-banner-group .wp-block-group__inner-container {
    position: relative;
}

.wp-block-group.is-style-feature-banner-texts {
    position: absolute;
    bottom: 50px;
    left: 20px;
}

.wp-block-group.is-style-feature-bottom-banner-group .wp-block-group__inner-container{
    background-color: #404040;
    display: flex;
    justify-content: space-around;
}

.wp-block-group.is-style-feature-bottom-banner-single-group .wp-block-group__inner-container {
    display:flex;
    flex-direction: column;
}

.wp-block-group.is-style-feature-bottom-banner-single-group .wp-block-group__inner-container p {
    color:white;
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
    margin-top:0;
}

.wp-block-group.is-style-feature-bottom-banner-single-group .wp-block-group__inner-container figure {
    display: flex;
    justify-content: center;
}

.wp-block-image.is-style-feature-banner-image {
    margin-bottom: 0;
}

.wp-block-group.is-style-latest-collection-group>.wp-block-group__inner-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.wp-block-group.is-style-latest-collection-group>.wp-block-group__inner-container>.wp-block-group {
    box-shadow: 2px 2px 8px 1px rgb(0 0 0 / 40%);
    padding:1rem;
}

.wp-block-group.is-style-latest-collection-group>.wp-block-group__inner-container figure {
    min-height: 200px;
}

.wp-block-group.is-style-footer-promotion-banner-group>.wp-block-group__inner-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
    padding-left:2rem;
    padding-right:2rem;
}

.wp-block-group.is-style-call-to-action-group>.wp-block-group__inner-container {
    background-color: #f8f2ec;
    padding-top:0.5rem;
    padding-bottom:0.5rem;
    text-align: center;
}

/* .wp-block-group.is-style-feature-banner-group figure {
    margin-bottom: -0.5rem;
} */

@media print, screen and (max-width: 40em) {
    .wp-block-group.is-style-latest-collection-group>.wp-block-group__inner-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 2rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .wp-block-group.is-style-footer-promotion-banner-group>.wp-block-group__inner-container {
        grid-template-columns: 1fr;
    }
}
