header.entry-header {
    margin-left:2rem;
    margin-right:2rem;
    text-align: center;
}

.main-navigation ul {
    display: flex;
    justify-content: space-around;
}

.main-navigation ul li a{
    color:black;
    font-size:20px;
}

.menu-primary-menu-container {
    width:100%;
}


footer .site-info a, footer .site-info>div{
    text-align: center;
}

.wp-block-group.is-style-feature-banner-color-texts {
    background-color: #dfddcd;
}

.wp-block-image.is-style-feature-banner-image {
    margin-top:0;
}
.wp-block-group.is-style-left-image-right-texts>.wp-block-group__inner-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 2rem;
    margin-right: 2rem;
    align-items: center;
}

.wp-block-group.is-style-left-image-right-texts>.wp-block-group__inner-container>p {
    line-height: 3;
    padding-left: 2rem;
    padding-right: 2rem;
}

/* a {
    color: #480711 !important;
} */
/*** styling for header ***/

#site-navigation ul#primary-menu li a {
    color:#480711;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.type-post .post-thumbnail {
    display:none;
}

#main.contactPage {
    display: flex;
    justify-content: center;
}
/* .type-page .entry-header>h1.entry-title {
    display:none;
} */

/*** styling for footer ***/

.site-footer {
    margin-top: 3em;
    margin-bottom: 3em;
}

#site-navigation ul#primary-menu li a:hover {
    text-decoration: underline;
}

/*** customize the structure and styling in home.php ***/
.exerptSection {
    padding-left: 2em;
}

h4.text-center.postTitle {
    color:#480711;
    font-size:1.5rem;
    margin-top:0;
}

a.readMore {
    color:#480711;
}

.exerptSection a {
    text-decoration: none;
}

/*** styling single product page ***/

.center-aligned {
    text-align: center;
}

h2.woocommerce-loop-product__title {
    color:black;
}

.woocommerce ul.products li.product .price {
    font-weight: bolder;
    color:#480711;
}