.smartSingle .entry-header+.post-thumbnail {
    display:none;
}

.singleSmartLife#primary {
    padding:0;
    max-width: 100%;
}

.singleSmartLife#primary .post-thumbnail img {
    width:100%;
}

.singleSmartLife#primary .wp-block-image img {
    width:100%;
}